.GithubProfileInfo {
  width: 400px;
  margin: 0 auto;
}

.GithubProfileInfo .profile-head {
  display: flex;
  align-items: center;
}

.GithubProfileInfo .profile-head img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 32px;
  margin: 0 auto;
}

.GithubProfileInfo .name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.GithubProfileInfo p {
  text-align: center;
}

.GithubProfileInfo .profile-blog {
  display: flex;
  align-items: center;
}

.GithubProfileInfo .blog {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.remainder {
  text-align: center;
}

a:visited {
  color: black;
}
